<div class="container" ng-controller="LandingCtrl as ctrl">
	<div class="container-fluid">
	
	<div class="row" style="margin-left: -10px">
		<a href ui-sref="public.landing({index:0})">Home </a> / Business
	</div>
	   
	   <div class="row pull-right">
	   <div class="col-md-12 ">
			<span class="btn btn-primary btn-md"><a class="text-white" ui-sref="public.registerBusiness">Register Business</a></span>
			<span class="btn btn-primary btn-md "><a class="text-white" ui-sref="public.registerProduct">Register Product</a></span>
			</div>
	   </div>
	
		<div class="row">
		  <div class="col-md-12">
			<div class="icon-features-intro">
				<h1>We can help.</h1>
				<p>We have developed some important and worthy features for you
					and your business.</p>
			</div>
			</div>
			
		</div>

		<div class="row m-t-2">
			<div class="col-md-4 ">
				<h2><i class="ion-ios-pulse-strong" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Review Analytics</h2>
						<p>State of art analytics system to manage public reviews.
							Classification of reviews as positive,negative and neutral.
							Extracting the keywords from the review. Chart showing
							monthly public presence.</p>
			</div>
			<div class="col-md-4 m-t-2">
					<h2><i class="ion-ios-bell-outline" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Instant Notifications</h2>
						<p>Receive instant notification for public review and queries. Its always good idea to reply asap.</p>
					
			</div>
			<div class="col-md-4 m-t-2">
				<h2><i class="ion-ios-chatboxes-outline" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Reply Reviews and Queries</h2>
						<p>Reply to your customer reviews or reach them out directly via Email.</p>
			</div>




		</div>




		<div class="row">
			<div class="col-md-4 ">
				<h2><i class="ion-ios-bookmarks-outline" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Update Public Profile</h2>
						<p>Manage your working hours, address, social media profile,
							phone number(s)</p>
			</div>
			<div class="col-md-4 ">
				<h2><i class="ion-paper-airplane" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Connect Customers</h2>
						<p>Just Reviewz platform will create your legit customer base over the time.
						  With Add Review, Ask Query and Subscription options.
						</p>
			</div>
			<div class="col-md-4 ">
				<h2><i class="ion-pricetags" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Create Promotions</h2>
						<p>Create any promotion event before the time. As soon as its
							created it will be seen on your public profile. Also if you
							choose to notify your customers via email, you can choose to do
							so.</p>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 ">
				<h2><i class="ion-android-menu" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Manage Action Items</h2>
						<p>Customer feedback is very important.Keep track of your
							positive and negative feedbacks. We allow you to create action
							item from the feedback.</p>
			</div>

			<div class="col-md-4 ">
				<h2><i class="ion-podium" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Manage Competitors</h2>
						<p>Why not ? Let us know who is your competitors. We will let
							you know how are they doing once a week.</p>
			</div>

			<div class="col-md-4 ">
				<h2><i class="ion-android-add" style="zoom: 2"></i>&nbsp;&nbsp;&nbsp;Need a custom feature ?</h2>
						<p>Do you need any custom feature? Let us know at
							<a href="mailto:support@justreviewz.com?Subject=Request%20Custom%20Feature" target="_top">support@justreviewz.com</a>. We would love to help based on T & M.</p>
					
			</div>

		</div>
		

	</div>
</div>
