<div class="container">

	<div class="row m-b-2" >
		<a href ui-sref="public.landing({index:0})">Home </a> / Public
	</div>
	<div class="row ">
		<p class="lead">
			<a href ui-sref="public.landing({index:0})"><mark>Review Business</mark></a><br> Search for any active business name and location or OR Add new Local business and write review
		</p>
		<a href ui-sref="public.landing({index:0})"><span class="btn btn-primary btn-md">Search Business</span></a> <a href ui-sref="public.registerBusiness"><span class="btn btn-primary btn-md">Register New Business</span></a>
		<hr>
	</div>


	<div class="row ">
		<p class="lead">
			<a href ui-sref="public.landing({index:1})"><mark> Review Product</mark></a><br>Search for the any available product by name OR Add new Product and write review. Product could be any think like Car, Burger Chain, Gas Station, Household items, Beauty Products or anything available on public platform.
		</p>
		<a href ui-sref="public.landing({index:1})"><span class="btn btn-primary btn-md">Search Product</span></a> <a href ui-sref="public.registerProduct"><span class="btn btn-primary btn-md">Register New Product</span></a>
		<hr>
	</div>
</div>
