
<div ng-controller="ForgotController as myctrl">
	<div class="container">
	<div class="row"></div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="form-signin">
					
					<div class="form-label-group">
						<input type="email" class="form-control" id="email" ng-model="myctrl.clientEmail"
							name="clientEmail" placeholder="Enter Email" required>
					</div>
					<div class="form-actions m-t-1">
						<button ng-click="myctrl.retrievePassword()" class="btn btn-block btn-primary btn-default">Submit</button>
					</div>
					
					
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row m-t-1"><div class="alert alert-success" ng-show="myctrl.showMessage">
						Your password has been reset to <strong>{{myctrl.messageText}}</strong>. Please make sure to change after login.
					</div></div>
					<div class="row m-t-1"><div class="alert alert-success" ng-show="myctrl.showError">
						{{myctrl.messageText}}
					</div></div>
	</div>

</div>