  <div ng-controller="MyController as myctrl">
  <div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form action="login" method="post" class="form-signin">
					<div class="text-center mb-4">
						<!--  <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
						<h1 class="h3 mb-3 font-weight-normal">
							<strong>Sign In</strong>
						</h1>
						<p>
							First time here ? <a href ui-sref="pages.second">Create new
								account</a>
					</div>

					<div class="alert alert-danger" ng-show="myctrl.showErrorMessage">
						<p>Invalid Username/Password.Please review.</p>
					</div>
					<div class="alert alert-success" ng-show="myctrl.showLogoutMessage">
						<p>You have been logged out successfully.</p>
					</div>
					<div class="form-label-group">
						<input type="text" class="form-control" id="username"
							name="username" placeholder="Enter username" required>
					</div>
					<div class="form-label-group" style="margin-top: 1%">
             		    <div class="input-group">
						    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
							 <span class="input-group-addon tooglePassword fa fa-eye"></span>
						</div>
					</div>
					
					<div class="checkbox mb-3">
						<label> <input type="checkbox" id="rememberme"
							name="remember-me"> Remember Me
						</label>
					</div>
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<p>
						forgot password ? <a href ui-sref="pages.third">Click here</a>
					</p>
					<div class="form-actions">
						<input type="submit" class="btn btn-block btn-primary btn-default"
							value="Log in">

					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
                    
</div>
<script type="text/javascript" >
$(".tooglePassword").click(function() {
	  var input = $("#password");
	  if (input.attr("type") == "password") {
	    input.attr("type", "text");
   	    $(this).addClass("fa-eye-slash"); 
   	    $(this).removeClass("fa-eye");
	  } else {
	    input.attr("type", "password");
	    $(this).addClass("fa-eye"); 
	    $(this).removeClass("fa-eye-slash");
	  }
	});
</script>