 <div class="container" ng-controller="WizardValidationCtrl as ctrl">
    
    <div class="panel">
    <!--  -->
    <px-wizard class="panel-wizard" instance="ctrl.$wizard" on-finished="ctrl.userCreated">
      <div class="wizard-wrapper">
        <ul class="wizard-steps">
          <li data-target="#wizard-account" class="active">
            <span class="wizard-step-number">1</span>
            <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
            <span class="wizard-step-caption">
              Account
              <span class="wizard-step-description">Account Setup</span>
            </span>
          </li>
          <li data-target="#wizard-profile">
            <span class="wizard-step-number">2</span>
            <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
            <span class="wizard-step-caption">
              Business Details
              <span class="wizard-step-description">Provide Business details</span>
            </span>
          </li>
          <!-- <li data-target="#wizard-credit-card">
            <span class="wizard-step-number">3</span>
            <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
            <span class="wizard-step-caption">
              Billing
              <span class="wizard-step-description">Billing Setup</span>
            </span>
          </li> -->
          <li data-target="#wizard-finish">
            <span class="wizard-step-number">3</span>
            <span class="wizard-step-complete"><i class="fa fa-check"></i></span>
            <span class="wizard-step-caption">
              Finish
            </span>
          </li>
        </ul>
      </div> <!-- / .wizard-wrapper -->

      <div class="wizard-content">
        <form name="wizardAccount" ng-submit="ctrl.next(wizardAccount)" novalidate id="wizard-account" class="wizard-pane active">

          <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'username') }">
            <label>Username</label>
            <input ng-model="ctrl.data.username" required type="text" name="username" class="form-control">
            <div ng-show="ctrl.hasErr(wizardAccount, 'username')" class="form-message">This field is required.</div>
          </fieldset>

          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'password') }">
                <label>Password</label>
                <input ng-model="ctrl.data.password" required minlength="6" maxlength="20" type="password" name="password" class="form-control">
                <div ng-show="ctrl.hasErr(wizardAccount, 'password', 'required')" class="form-message">This field is required.</div>
                <div ng-show="ctrl.hasErr(wizardAccount, 'password', 'minlength')" class="form-message">Please enter at least 6 characters.</div>
                <div ng-show="ctrl.hasErr(wizardAccount, 'password', 'maxlength')" class="form-message">Please enter no more than 20 characters.</div>
              </fieldset>
            </div>

            <div class="col-md-6">
              <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'passwordConfirmation') }">
                <label>Repeat password</label>
                <input ng-model="pwdcnfrm" required minlength="6" maxlength="20" compare-to="form[name=wizardAccount] input[name=password]" type="password" name="passwordConfirmation" class="form-control">
                <div ng-show="ctrl.hasErr(wizardAccount, 'passwordConfirmation')" class="form-message">Please enter the same value again.</div>
              </fieldset>
            </div>
          </div>

          <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'email') }">
            <label for="wizard-email">E-mail</label>
            <input ng-model="ctrl.data.clientEmail" required type="email" name="email" class="form-control">
            <div ng-show="ctrl.hasErr(wizardAccount, 'email', 'required')" class="form-message">This field is required.</div>
            <div ng-show="ctrl.hasErr(wizardAccount, 'email', 'email')" class="form-message">Please enter a valid email address.</div>
          </fieldset>

          <div class="panel-wide-block p-x-3 p-t-3 b-t-1 bg-white text-xs-right">
            <button type="submit" class="btn btn-primary">Next step</button>
          </div>

        </form> <!-- / wizardAccount -->
        <form name="wizardProfile" ng-submit="ctrl.next(wizardProfile)" novalidate id="wizard-profile" class="wizard-pane">

          <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardProfile, 'fullName') }">
            <label>Business Name</label>
            <input ng-model="ctrl.data.clientName" required type="text" name="fullName" class="form-control">
            <div ng-show="ctrl.hasErr(wizardProfile, 'fullName')" class="form-message">This field is required.</div>
          </fieldset>

          <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardProfile, 'gender') }">
            <label>Business Type</label>
            <div>
              <label class="custom-control custom-radio radio-inline">
                <input ng-model="ctrl.data.clientType" required value="male" name="gender" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                Male
              </label>
              <label class="custom-control custom-radio radio-inline">
                <input ng-model="ctrl.data.clientType" required value="female" name="gender" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                Female
              </label>
            </div>
            <div ng-show="ctrl.hasErr(wizardProfile, 'gender')" class="form-message">This field is required.</div>
          </fieldset>
          
           <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardProfile, 'clientBusinessPhoneNumber') }">
            <label>Business Phone Number</label>
            <input ng-model="ctrl.data.clientBusinessPhoneNumber" required type="text" name="clientBusinessPhoneNumber" class="form-control">
            <div ng-show="ctrl.hasErr(wizardProfile, 'clientBusinessPhoneNumber')" class="form-message">This field is required.</div>
          </fieldset>
          
            <fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErr(wizardProfile, 'workingHours') }">
            <label>Working Hours</label>
            <input ng-model="ctrl.data.workingHours" required type="text" name="workingHours" class="form-control">
            <div ng-show="ctrl.hasErr(wizardProfile, 'workingHours')" class="form-message">This field is required.</div>
          </fieldset>

			<fieldset class="form-group" ng-class="{ 'has-error': ctrl.hasErrs(wizardProfile, 'streetname|city|postalcode') }">
			  <div class="row">
				  <div class="col-sm-6">
					<label for="form-group-input-2">Street Name</label> 
					<input required type="text" ng-model="ctrl.data.address.streetName" name="streetname" class="form-control" placeholder="Street Name">
				  </div>
				  <div class="col-sm-3">
					<label for="form-group-input-2">City</label> 
					<input required type="text" ng-model="ctrl.data.address.city" name="city" class="form-control" placeholder="City">
				  </div>
				  <div class="col-sm-3">
					<label for="form-group-input-2">Postal Code</label> 
					<input required type="text" ng-model="ctrl.data.address.postalCode" name="postalcode" class="form-control" placeholder="Postal Code">
				 </div>
			 </div>
			 <div class="row">
		     <div ng-show="ctrl.hasErrs(wizardProfile, 'streetname|city|postalcode')" class="form-message">This field is required.</div>
		     </div>
			</fieldset>

          <fieldset class="form-group row">
            <div class="col-sm-8">
            <label>State</label>
            <ui-select ng-model="ctrl.data.address.province" required name="state">
              <ui-select-match placeholder="Select a state">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
             <ui-select-choices repeat="state in (main.states | filter: $select.search | orderBy: 'name') track by state.id">
                  <span ng-bind="state.name"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                No results found.
              </ui-select-no-choice>
            </ui-select>
            <div ng-show="ctrl.hasErr(wizardProfile, 'state')" class="form-message">Please select a state.</div>
            </div>
            <div class="col-sm-4">
            <label>Country</label>
            <input ng-model="ctrl.data.address.country" required type="text" name="country" class="form-control">
            <div ng-show="ctrl.hasErr(wizardProfile, 'country')" class="form-message">This field is required.</div>
 			</div>
          </fieldset>

          <fieldset class="form-group">
            <label>Subscribe to</label>
            <div>
              <label class="custom-control custom-checkbox checkbox-inline">
                <input ng-model="ctrl.data.notifyNewReview" type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                New Reviews are available  
              </label>

              <label class="custom-control custom-checkbox checkbox-inline">
                <input ng-model="ctrl.data.notifyNewReport" type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                New Report is available
              </label>
              
              <label class="custom-control custom-checkbox checkbox-inline">
                <input ng-model="ctrl.data.notifyAddedAsCompetitor" type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                Someone added your business as competitor
              </label>
              
            </div>
          </fieldset>

          <div class="panel-wide-block p-x-3 p-t-3 b-t-1 bg-white text-xs-right">
            <button type="button" class="btn" ng-click="ctrl.back()">Back</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Next step</button>
          </div>

        </form> <!-- / wizardProfile -->
       
<!--         <form name="wizardCreditCard" ng-submit="ctrl.next(wizardCreditCard)" novalidate id="wizard-credit-card" class="wizard-pane">

          <div class="row">
            <fieldset class="form-group col-md-3" ng-class="{ 'has-error': ctrl.hasErr(wizardCreditCard, 'postalCode') }">
              <label>Postal code</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input ng-model="ctrl.data.subscription.postalCode" required maskedinput mask="'999999'" type="text" name="postalCode" class="form-control">
              </div>
              <div ng-show="ctrl.hasErr(wizardCreditCard, 'postalCode')" class="form-message">This field is required.</div>
            </fieldset>

            <fieldset class="form-group col-md-6" ng-class="{ 'has-error': ctrl.hasErr(wizardCreditCard, 'creditCard') }">
              <label>Credit card number</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                <input ng-model="ctrl.data.subscription.creditCardNumber" required maskedinput mask="'9999 9999 9999 9999'" type="text" name="creditCard" class="form-control">
              </div>
              <div ng-show="ctrl.hasErr(wizardCreditCard, 'creditCard', 'required')" class="form-message">This field is required.</div>
            </fieldset>

            <fieldset class="form-group col-md-3" ng-class="{ 'has-error': ctrl.hasErr(wizardCreditCard, 'csv') }">
              <label>CSV</label>
              <div class="has-feedback">
                <input ng-model="ctrl.data.subscription.cvvNumber" required maskedinput mask="'999'" type="text" name="csv" class="form-control">
                <a href="javascript:void(0)" class="fa fa-question-circle form-control-feedback" uib-tooltip="The credit code security code is a three-digit number printed on the back of your card, at the top of the signature field." tooltip-placement="left"></a>
              </div>
              <div ng-show="ctrl.hasErr(wizardCreditCard, 'csv')" class="form-message">This field is required.</div>
            </fieldset>
          </div>

          <div class="panel-wide-block p-x-3 p-t-3 b-t-1 bg-white text-xs-right">
            <button type="button" class="btn" ng-click="ctrl.back()">Back</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Next step</button>
          </div>

        </form> / wizardCreditCard -->
        <div class="wizard-pane" id="wizard-finish">
          <div class="text-xs-center m-y-4">
            <i class="ion-checkmark-round text-success font-size-52 line-height-1"></i>
            <h4 class="font-weight-semibold font-size-20 m-x-0 m-t-1 m-b-0">We're almost done</h4>
            <!-- data-wizard-action="finish" -->
            <button id="finishButton" ng-hide="ctrl.createFinish" type="button" class="btn btn-primary m-t-4" ng-click="ctrl.finish()" >Finish</button>
            <button id="backButton" ng-hide="ctrl.createError" type="button" class="btn btn-primary m-t-4" ng-click="ctrl.errorBack()" >Go Back</button>
            <button id="loginButton" ng-hide="ctrl.createSuccess" type="button" class="btn btn-primary m-t-4" ng-click="ctrl.login()" >Login Now</button>
          </div>

 		  

        </div> <!-- / #wizard-finish -->
      </div>
    </px-wizard>
    </div>
  </div>