	<div class="row">
		
		<div class="col-md-12 text-right">
			<!-- <img src="public/justreviewz_logo.png" width="50" height="50"
				class="d-inline-block align-top" alt="Just Reviewz Inc">  --><span
				class="text "> <!-- Revolutionary Platform to Share your feedback. We want you to <strong>Get Compensated</strong> and <strong>Businesses to Succeed.</strong> -->
				<mark>We manage reviews unbiased.</mark>
				<p><strong>Just Reviews Inc.</strong></p>
			</span>
			
		</div>
		<!-- <div class="col-md-4 text-right"><div class="row">
			  We can be reachable at support@justreviewz.com
			</div>
		</div> -->
	</div>
