<div class="container">

	<div class="navbar-header">
		<a class="navbar-brand px-demo-brand" ui-sref="public.landing({index:0})">
			{{main.companyName}}
		</a> 
		

	</div>


	<!-- Navbar togglers -->
	<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#px-demo-navbar-collapse"
		aria-expanded="false">
		<i class="navbar-toggle-icon"></i>
	</button>

 	<!-- <div class="collapse navbar-collapse" id="px-demo-navbar-collapse">

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href ui-sref="public.howitworks"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portals</a></li>
			<li class="dropdown"><a href ui-sref="public.background"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Do Business</a></li>
			<li class="dropdown"><a href ui-sref="public.faqs"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a></li>
		</ul>


	</div> -->


</div>
