<div id="accountCtrlID" ng-controller="AccountCtrl as account">
	<!-- Custom template -->
	<script id="px/pages/account.html" type="text/ng-template">
  <div class="page-header p-b-0 b-b-0">
    <h1>Account <span class="text-default font-weight-light">Settings</span></h1>

    <ul class="nav nav-tabs page-block m-t-4" ng-transclude></ul>
    <div class="tab-content p-y-4">
      <div class="tab-pane" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab"></div>
    </div>
  </div>
</script>
	<!-- / Custom template -->

	<style>
.submitted .ng-invalid {
	border: 1px solid red;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
	background-color: white;
	height: 40px;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}
</style>
	<div class="row">
		<div class="col-md-12"></div>
	</div>

	<div id="accountMessageID" class="alert alert-success alert-dark"
		ng-show="account.showMessage">
		<button type="button" class="close"
			onclick="$('#accountMessageID').hide()">x</button>
		{{account.message}}
	</div>

	<uib-tabset template-url="px/pages/account.html" px-tab-resize
		class="page-block"> <uib-tab heading="Profile">

	<!-- Profile tab -->

	<div class="row">
		<form class="col-md-8 col-lg-9" name="profileForm">
			<div class="p-x-1">

				<fieldset class="form-group form-group-lg">
					<label for="account-name">Username</label> <input required
						type="text" ng-disabled=true class="form-control"
						ng-model="account.account.accountUsername" name="accountUsername"
						placeholder="Enter account username"> <span
						class="text-danger" ng-hide="profileForm.accountUsername.$valid">Invalid
						Account Username</span>
				</fieldset>

				<fieldset class="form-group form-group-lg">
					<label for="account-name">Name</label> <input required type="text"
						class="form-control" ng-model="account.account.accountName"
						name="accountName" placeholder="Enter account name"> <span
						class="text-danger" ng-hide="profileForm.accountName.$valid">Invalid
						Account Name</span>
				</fieldset>
				<fieldset class="form-group form-group-lg">
					<label for="account-email">E-mail</label> <input required
						type="email" class="form-control" name="accountEmail"
						ng-model="account.account.accountEmail" placeholder="Enter email">
					<span class="text-danger" ng-hide="profileForm.accountEmail.$valid">Invalid
						Email</span>
				</fieldset>

				<fieldset class="form-group form-group-lg">
					<label for="account-email">Business Phone Number</label> <input
						required type="text" class="form-control"
						name="clientBusinessPhoneNumber"
						ng-model="account.account.clientBusinessPhoneNumber"
						placeholder="Enter clientBusinessPhoneNumber"> <span
						class="text-danger"
						ng-hide="profileForm.clientBusinessPhoneNumber.$valid">Invalid
						clientBusinessPhoneNumber</span>
				</fieldset>

				<label for="account-email text-left">Working Hours </label>
				<fieldset class="form-group form-group-md text-right">
					<!-- <span
						class="text-danger" ng-hide="profileForm.workingHours.mondayTimeFrame.$valid">&nbsp;&nbsp;<u>Invalid
								workingHours</u></span> -->
					<!-- <input required type="text" class="form-control" ng-hide="true" name="workingHours" ng-model="account.account.workingHours"  placeholder="Enter workingHours"> -->

					<div class="form-group row">
						<label for="monday" class="col-sm-2  col-form-label">Monday</label>
						<div class="col-sm-2">
							<input required type="text" name="mondayTimeFrame"
								ng-model="account.account.workingHours.monday"
								class="form-control  form-control-sm" id="monday"
								placeholder="Enter monday working hours">
						</div> 
					</div>

					<div class="form-group row">
						<label for="tuesday" class="col-sm-2 col-form-label">Tuesday</label>
						<div class="col-sm-2">
							<input required type="text" name="tuesdayTimeFrame"
								ng-model="account.account.workingHours.tuesday"
								class="form-control  form-control-sm" id="tuesday"
								placeholder="Enter tuesday working hours">
						</div>
					</div>

					<div class="form-group row">
						<label for="wednesday" class="col-sm-2 col-form-label">Wednesday</label>
						<div class="col-sm-2">
							<input required type="text" name="wednesdayTimeFrame"
								ng-model="account.account.workingHours.wednesday"
								class="form-control  form-control-sm" id="wednesday"
								placeholder="Enter wednesday working hours">
						</div>
					</div>

					<div class="form-group row">
						<label for="thursday" class="col-sm-2 col-form-label">Thursday</label>
						<div class="col-sm-2">
							<input required type="text" name="thursdayTimeFrame"
								ng-model="account.account.workingHours.thursday"
								class="form-control  form-control-sm" id="thursday"
								placeholder="Enter thursday working hours">
						</div>
					</div>

					<div class="form-group row">
						<label for="friday" class="col-sm-2 col-form-label">Friday</label>
						<div class="col-sm-2">
							<input required type="text" name="fridayTimeFrame"
								ng-model="account.account.workingHours.friday"
								class="form-control  form-control-sm" id="friday"
								placeholder="Enter friday working hours">
						</div>
					</div>

					<div class="form-group row">
						<label for="saturday" class="col-sm-2 col-form-label">Saturday</label>
						<div class="col-sm-2">
							<input required type="text" name="saturdayTimeFrame"
								ng-model="account.account.workingHours.saturday"
								class="form-control  form-control-sm" id="saturday"
								placeholder="Enter saturday working hours">
						</div>
					</div>

					<div class="form-group row">
						<label for="sunday" class="col-sm-2 col-form-label">Sunday</label>
						<div class="col-sm-2">
							<input required type="text" name="sundayTimeFrame"
								ng-model="account.account.workingHours.sunday"
								class="form-control  form-control-sm" id="sunday"
								placeholder="Enter sunday working hours">
						</div>
					</div>

				</fieldset>

				<fieldset class="form-group">
					<label for="form-group-input-2">Address</label> <input required
						type="text" ng-model="account.account.businessStreet"
						name="businessStreet" ng-minlength="5" class="form-control"
						placeholder="Street Name"> <span class="text-danger"
						ng-hide="profileForm.businessStreet.$valid">Please enter
						street address.</span>
					<div class="row m-t-2">
						<div class="col-md-4">
							<input required type="text"
								ng-model="account.account.businessCity" ng-minlength="3"
								name="businessCity" class="form-control" placeholder="City">
							<span class="text-danger"
								ng-hide="profileForm.businessCity.$valid">Please enter
								city.</span>
						</div>
						<div class="col-md-3">
							<input required type="text" name="businessPostal"
								ng-model="account.account.businessPostal" ng-minlength="6"
								ng-maxlenght="6" class="form-control" placeholder="Postal Code">
							<span class="text-danger"
								ng-hide="profileForm.businessPostal.$valid">Please enter
								valid postal code.</span>
						</div>

						<div class="col-md-3">
							<!-- <input required type="text" ng-model="account.businessProvince" class="form-control" placeholder="Province"> -->
							<select class="custom-select form-control" id="sortById"
								ng-model="account.account.businessProvince"
								ng-options="option for option in account.account.businessProvinceList track by option">
							</select>
						</div>

						<div class="col-md-2">
							<!-- <input required type="text" ng-model="account.account.businessCountry" class="form-control" placeholder="Country"> -->
							<select class="custom-select form-control" id="sortByCountryId"
								ng-model="account.account.businessCountry"
								ng-selected="account.selectCountry()"
								ng-options="option for option in account.account.businessCountryList track by option">
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset class="form-group form-group-lg">
					<label for="account-url">Website</label> <input type="url" required
						name="businessWebsite" class="form-control" id="account-url"
						ng-model="account.account.businessWebsite"
						placeholder="Enter website"> <span class="text-danger"
						ng-hide="profileForm.businessWebsite.$valid">Please enter
						valid web address.</span> <small class="text-default">Your home
						page, blog or company site, e.g. <strong>http://website.com</strong>
					</small>

				</fieldset>
				<button type="submit" ng-disabled="profileForm.$invalid"
					ng-click="account.updateProfile()"
					class="btn btn-lg btn-primary m-t-3">Update profile</button>
				<a href="#" class="pull-xs-right text-default p-t-4">Deactivate
					account</a>
			</div>
				</form>

		<!-- Spacer -->
		<div class="m-t-4 visible-xs visible-sm"></div>

	</div>

	<!-- / Profile tab --> </uib-tab> <uib-tab heading="Social profiles"> <!-- Social tab -->

	<form class="p-x-1" name="socialForm">
		<fieldset class="form-group form-group-lg">
			<label for="account-social-instagram">Facebook</label> <input
				type="url" required class="form-control" name="facebookPageUrl"
				id="account-social-instagram"
				ng-model="account.social.facebookPageUrl"
				placeholder="Facebook page url"> <span class="text-danger"
				ng-hide="socialForm.facebookPageUrl.$valid">Please enter
				valid facebook page url.</span>
		</fieldset>
		<fieldset class="form-group form-group-lg">
			<label for="account-social-github">Yelp</label> <input type="url"
				required class="form-control" name="yelpPageUrl"
				id="account-social-github" ng-model="account.social.yelpPageUrl"
				placeholder="Yelp page url"> <span class="text-danger"
				ng-hide="socialForm.yelpPageUrl.$valid">Please enter valid
				yelp page url.</span>
		</fieldset>
		<button type="submit" ng-disabled="socialForm.$invalid"
			ng-click="account.updateSocialProfile()"
			class="btn btn-lg btn-primary m-t-3">Save changes</button>
	</form>

	<!-- / Social tab --> </uib-tab> <uib-tab heading="Password"> <!-- Password tab -->

	<form class="p-x-1" name="passwordForm">
		<fieldset class="form-group form-group-lg">
			<label for="account-password">Current Password</label> <input
				required ng-minlength="6" ng-maxlenght="12" type="password"
				class="form-control" name="oldPassword" id="account-password"
				ng-model="account.credentials.oldPassword"> <span
				class="text-danger" ng-hide="passwordForm.oldPassword.$valid">Please
				enter valid password value.</span>
		</fieldset>
		<fieldset class="form-group form-group-lg">
			<label for="account-new-password">New Password</label> <input
				required ng-minlength="6" ng-maxlenght="12" type="password"
				class="form-control" name="newPassword" id="account-new-password"
				ng-model="account.credentials.newPassword"> <span
				class="text-danger" ng-hide="passwordForm.newPassword.$valid">Please
				enter valid password value.</span> <small class="text-default pull-right">Minimum
				6 characters</small>
		</fieldset>
		<fieldset class="form-group form-group-lg">
			<label for="account-new-password-repeat">Verify New Password</label>
			<input required ng-minlength="6" ng-maxlenght="12" name="password"
				type="password" class="form-control"
				id="account-new-password-repeat"
				ng-model="account.credentials.newPasswordAgain"> <span
				class="text-danger" ng-hide="passwordForm.password.$valid">Please
				enter valid password value.</span> <small class="text-default pull-right">Minimum
				6 characters</small>
		</fieldset>
		<button type="submit" ng-disabled="passwordForm.$invalid"
			ng-click="account.updatePassword()"
			class="btn btn-lg btn-primary m-t-3">Change password</button>
	</form>

	<!-- / Password tab --> </uib-tab> <uib-tab heading="Notifications"> <!-- Notifications tab -->

	<form class="row">
		<div class="col-md-6">
			<div class="panel bg-transparent">
				<div class="panel-title">
					<strong>Activity Notifications</strong>
				</div>
				<hr class="m-y-0">
				<div class="panel-body">
					<p>Email me when:</p>

					<label class="custom-control custom-checkbox m-t-2"> <input
						type="checkbox" class="custom-control-input"
						ng-model="account.notification.reviewNotify"> <span
						class="custom-control-indicator"></span> New Reviews are available
					</label> <label class="custom-control custom-checkbox m-t-2"> <input
						type="checkbox" class="custom-control-input"
						ng-model="account.notification.reportNotify"> <span
						class="custom-control-indicator"></span> New Report is available
					</label> <label class="custom-control custom-checkbox m-t-2"> <input
						type="checkbox" class="custom-control-input"
						ng-model="account.notification.addedYouAsCompetitorNotify">
						<span class="custom-control-indicator"></span> Someone added your
						business as competitor
					</label>

				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<button type="submit" ng-click="account.updateNotification()"
				class="btn btn-lg btn-primary m-t-3">Update notifications</button>
		</div>
	</form>



	<!-- / Subscription tab --> </uib-tab> <uib-tab heading="Subscription">

	<div class="panel">
		<div class="panel-heading">Billing Information</div>
		<div class="panel-body">
			<span>Card Detail : <i class="fa fa-credit-card"></i>&nbsp;&nbsp;XXXX&nbsp;-&nbsp;XXXX&nbsp;-&nbsp;XXXX&nbsp;-&nbsp;{{account.subscription.billing.last4}}
			</span>
			<p>
				<span>Expiry Date : <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{account.subscription.billing.expiryDate}}
				</span>
		</div>
		<div class="panel-footer">

			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-sm btn-primary" id="customButton">Update
						Billing</button>

					<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_80FLC4InP3wUpq6SgxgH1x3i',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
	    angular.element(document.getElementById("accountCtrlID")).scope().account.manageToken(token);
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Just Reviewz Inc',
    //description: 'Manage your customer review(s)',
    currency: 'cad',
    allowRememberMe:true,
    panelLabel:'Update Billing Details',
    email: angular.element(document.getElementById("accountCtrlID")).scope().account.account.accountEmail
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
					<button ng-hide="account.subscriptionActive"
						ng-click="account.startMembership()"
						class="btn btn-sm btn-primary">Start Membership</button>
					<button ng-show="account.subscriptionActive"
						ng-click="account.endMembership()" class="btn btn-sm btn-danger">Cancel
						Membership</button>
				</div>

			</div>

		</div>
	</div>



	<div class="row container-fluid">
		<!-- Table Start -->
		<div class="panel m-t-2">
			<div class="panel-heading">Payment History</div>
			<div class="panel-body">
				<div class="table">
					<table datatable="ng" dt-options="account.subscription.dtOptions"
						class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Invoice Number</th>
								<th>Billing Date</th>
								<th class="text-xs-right">Amount Paid</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="invoice in account.subscription.paymentinfo">
								<td><a href="{{invoice.invoicePDF}}">{{invoice.number}}</a></td>
								<td>{{invoice.billingDate}}</td>
								<td class="text-xs-right">{{invoice.amount}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Table End -->
	</div>
	</uib-tab> </uib-tabset>

</div>
<script type="text/javascript" src="../assets/js/controllers/dashboards/daterangepicker.js"></script>
