<!-- Custom template -->
<script id="px/pages/dashboardchart.html" type="text/ng-template">
  <div>
    <ul class="search-nav nav nav-tabs nav-tabs-simple nav-sm page-block panel m-b-0 p-y-0 b-a-0 border-radius-0" ng-transclude></ul>

    <hr class="page-wide-block m-y-0 b-t-2">

    <div class="tab-content m-t-3 p-y-0">
      <div class="tab-pane" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab"></div>
    </div>
  </div>
</script>
<div ng-controller="DefaultDashboardChartsCtrl as dashboard">
<!-- Custom styling -->
<style>
    .page-header-form .input-group-addon,
    .page-header-form .form-control {
        background: rgba(0, 0, 0, .05);
    }
</style>
<!-- / Custom styling -->

<ol class="breadcrumb page-breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Dashboard</li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-md-4 text-xs-center text-md-left text-nowrap">
            <h1><i class="page-header-icon ion-ios-pulse-strong"></i>Analytics <span class="text-default font-weight-light">Dashboard</span></h1>
        </div>

        <hr class="page-wide-block visible-xs visible-sm">

        <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
            <a href ui-sref="pages.search-results({searchText: dashboard.searchText})" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-ios-search-strong"></span>Search Review</a>
        </div>

        <!-- Spacer -->
        <div class="m-b-2 visible-xs visible-sm clearfix"></div>

        <form action="" class="page-header-form col-xs-12 col-md-4 pull-md-right">
            <div class="input-group">
                <span class="input-group-addon b-a-0 font-size-16"><i class="ion-search"></i></span>
                <input type="text" ng-model="dashboard.searchText" placeholder="Search..." class="form-control p-l-0 b-a-0">
            </div>
        </form>
    </div>
</div>



        <!-- Uploads -->
<!-- <uib-tabset template-url="px/pages/dashboardchart.html" px-tab-resize>
  <uib-tab heading="Latest Trends">
	  <div class="panel"><div class="panel-body">
	   Show Trends
	  </div></div>
  </uib-tab>
</uib-tabset> -->

    <!-- Stats -->
<div class="row">
    <div class="col-md-10">
        <div class="panel box">
            <div class="box-row">
                <div class="box-cell col-md-4 p-a-3 valign-top">
                    <h4 class="m-y-1 font-weight-normal"><i class="fa  fa-tachometer text-primary"></i>&nbsp;&nbsp;Review Statistics</h4>
                    <add-stars rating="{{dashboard.rating}}"></add-stars>
                    <ul class="list-group m-x-0 m-t-3 m-b-0">
                        <li class="list-group-item p-x-1 b-x-0 b-t-0">
                            <span class="label label-primary pull-right" ng-bind="dashboard.positiveReview"></span> Positive
                        </li>
                        <li class="list-group-item p-x-1 b-x-0">
                            <span class="label label-danger pull-right" ng-bind="dashboard.negativeReview"></span> Negative
                        </li>
                        <li class="list-group-item p-x-1 b-x-0 b-b-0">
                            <span class="label label-info pull-right" ng-bind="dashboard.neutralReview"></span> Neutral
                        </li>
                    </ul>
                </div>

                <div class="box-cell col-md-8 p-a-1" style="background-color:#51bf99!important" >
                	<div id="dashboardChartData" style="height: 220px"></div>
                </div>
            </div>
            <hr>
            <div class="panel-footer"><span class="text text-default" ng-bind="dashboard.lastUpdatedOn"> </span></div>
        </div>
    </div>
    
    <div class="col-md-2">
        <div class="panel text-center">
                <div class="panel-title font-size-28">
                  <strong>{{dashboard.promotionRequestCounter}}</strong>
                </div>
                <hr class="m-a-0">
                <div class="panel-body">
                   Public Request Counter for Promotions
                </div>
                <div class="panel-footer">
                	<a href ui-sref="dashboards.promote-business">Create Promotion</a>
                </div>
        </div>
      </div>

</div>

<div class="row">
    <div class="col-md-6">

        <!-- Trending categories -->
<div class="panel">
  <div class="panel-body">
      <table datatable="ng" dt-options="dashboard.dtOptions" class="table table-striped table-bordered" >
        <thead>
          <tr>
            <th>Keyword(s)</th>
            <th>Total Count</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trend in dashboard.trendingKeywords">
               <td><a href ui-sref="pages.search-results({searchText: trend.keyword})">{{trend.keyword}}</a></td>
               <td class="text-xs-right">{{trend.count}}</td>
               <td class="text-xs-right"><span ng-hide="true">{{trend.averageRating}}</span><add-stars rating="{{trend.averageRating}}" type="{{trend.positiveReview}}"></add-stars></td>
           </tr>
        </tbody>
      </table>
  </div>
</div>
        <!-- Trending categories -->

    </div>
    <div class="col-md-6">

        <!-- References -->
        <div class="panel">
            <div class="panel-body">
            <div id="dashboardDonutData" style="height: 220px" />
            </div>

        </div>
        <!-- / References -->

    </div>
</div>
</div>